@font-face {
  font-family: 'PrStart';
  src: url('./assets/fonts/PrStart.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'PrStart', sans-serif;
  text-align: center;
  padding: 1rem;
  background-color: #f0f0f0;
  min-height: 100vh;
  overflow: auto;
}

.controls { 
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  /* width: 20%; */
  min-width: 16rem;
  padding: 1.25rem;
  background-color: #ff914d;
  border: 0.625rem solid #7e3101;
  border-radius: 0.625rem;
  align-items: stretch;
  user-select: none;
}

.controlHeading {
  text-align: center;
  margin: 0;
  padding-bottom: 0.625rem;
  color: black;
}

label {
  color: black;
  padding: 0.625rem;
  padding-right: 0;
}

.setControls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 0.3125rem;
  margin: 0;
  padding: 0;
}

.setControls button {
  font-family: 'PrStart', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #0cc0df;
}

.colorBox {
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #000;
  margin: 0.1875rem;
  margin-bottom: 0.3125rem;
}

.colorBox.start {
  background-color: green;
}

.colorBox.end {
  background-color: red;
}

.colorBox.wall {
  background-color: black;
}

.setControls button.active {
  background-color: #4caf50; 
  color: white;
  border: 0.25 solid #000; 
  transform: scale(1.03);
}

.setControls button:disabled {
  opacity: 0.5; 
}

.randomizer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0.625rem 0rem;
}

.randomizer button {
  font-family: 'PrStart', sans-serif;
  background-color: #0cc0df;
}

.speed, .resizeGrid {
  display: flex;
}

.speed {
  align-items: center;
  margin-top: 0.625rem;
  gap: 0.625rem;
  font-size: 1rem;
  font-family: 'PrStart', sans-serif;
  color: black;
}

.speed label {
  font-weight: bold;
  font-size: 1rem;
}

.speed select {
  font-family: 'PrStart', sans-serif;
  background-color: #ffffff;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem;
  font-size: 1rem;
  cursor: pointer;
}

.resizeGrid {
  display: flex;
  gap: 0.625rem;
  margin-top: 0.625rem;
  font-family: 'PrStart', sans-serif;
  color: black;
}

.resizeGrid label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1rem;
}

.resizeGrid select {
  font-family: 'PrStart', sans-serif;
  background-color: #ffffff;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
  margin-top: 0.5rem;
  margin-left: 0;
}

.controls button {
  margin-right: 0rem;
  padding: 1.125rem;
  cursor: pointer;
  width: 100%;
  border: 0.1875rem solid black;
  border-radius: 0.625rem;
}

.findPath {
  font-family: 'PrStart', sans-serif;
  font-size: 1rem;
  background-color: #7ed957;
  margin-bottom: 0.625rem;
}

.reset {
  font-family: 'PrStart', sans-serif;
  background-color: #ff3131;
  margin-top: 0.625rem;
}

.controls button:hover,
.setControls button:hover,
.randomizer button:hover,
.findPath:hover,
.reset:hover {
  filter: brightness(1.1);
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.3);
}

.speed select:hover,
.resizeGrid select:hover {
  filter: brightness(1.05);
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.2);
}

.grid-pair {
  display: flex;
  /* flex: 3.5; */
  justify-content: space-around;
  text-align: center;
  gap: 2vw;
  padding: 0 1rem;
}

.algoName {
  background-color: #ffe500;
  border: 0.4375rem solid #6c5600;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-size: 1.5rem;
  color: #000;
  width: fit-content;
  margin: 0.625rem auto;
  user-select: none;
}

.video-wrapper {
  position: relative;
  height: 100vh;
  overflow: auto;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.extraLayer {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
}

.app-container {
  font-family: 'PrStart', sans-serif;
  display: flex;
  z-index: 1;
  padding: 1.875rem;
  gap: 0.5rem;
  color: #fff; 
  height: 85vh;
  justify-content: space-evenly;
  align-items: center;
}


@media (max-width: 1420px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 980px) {
  .grid-pair {
    display: flex;
    flex-direction: column;
  }
}